input {
  display: block;
}

.searchBar {
  width: 200px;
}

th {
  font-weight: bold;
  text-align: left;
}

tr td {
  text-align: left;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}
